* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: 'Merriweather', serif;
  color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

h2 {
  font-size: 3rem;
  color: white;
  padding-bottom: 50px;
}

h3 {
  padding-bottom: 10px;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

.top-container {
  background-image: url("../images/topphoto.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10%;
  height: 100vh;
}

.top-container a {
  margin: 10px 15px;
  color: white;
}

.top-container a:hover {
  color: lightgrey;
}

@media (max-width: 1250px) {
  .top-container {
    height: 700px;
    padding: 15%;
  }
  .top-container h1 {
    font-size: 3rem;
  }
}

.profile-container {
  background-color: #eeeeee;
  padding: 100px 0;
}

.profile-container h2 {
  color: black;
  padding: 20px;
}

.profile-container p {
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
}

.profile-container a {
  color: darkgrey;
}

.profile-container a:hover {
  color: darkslategrey;
}

.academic-projects-container {
  background-color: #222831;
}

.personal-projects-container {
  background-color: #393e46;
}

.personal-projects-container, .academic-projects-container {
  padding: 100px;
}

.personal-projects-container a, .academic-projects-container a {
  margin: 10px;
}

.personal-projects-container .link-row, .academic-projects-container .link-row {
  margin: 10px;
}

.personal-projects-container .projects, .academic-projects-container .projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.personal-projects-container .project, .academic-projects-container .project {
  background-color: #eeeeee;
  padding: 20px 30px;
  margin: 30px 10px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}

.footer-container {
  background-color: #00adb5;
  padding: 50px;
}

.footer-container a {
  margin: 10px 20px;
  color: whitesmoke;
}

.footer-container a:hover {
  color: lightgrey;
}

.footer-container p {
  color: white;
  font-size: 1rem;
  padding-top: 50px;
}
