* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
  font-family: 'Merriweather', serif;
  color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

h2 {
  font-size: 3rem;
  color: white;
  padding-bottom: 50px;
}

h3 {
  padding-bottom: 10px;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

#top {
  background-image: url("../images/topphoto.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10% 10% 1%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top a {
  margin: 10px 15px;
}

#top .logo {
  background-color: white;
  transition: 0.3s;
  padding: 20px;
  border-radius: 30%;
}

#top .logo:hover {
  background-color: lightgrey;
}

#top .linkedin-logo {
  color: #2867b2;
}

#top .github-logo {
  color: #24292e;
}

#top .arrow-link {
  color: white;
}

#top .arrow-link:hover {
  color: lightgrey;
}

@media (max-width: 1250px) {
  #top {
    height: 700px;
    padding: 15%;
  }
  #top h1 {
    font-size: 3rem;
  }
  #top .arrow-link {
    visibility: hidden;
  }
}

#profile {
  background-color: #eeeeee;
  padding: 100px;
}

#profile h3 {
  color: black;
  padding: 20px;
}

#profile p {
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
}

#profile a {
  color: darkgrey;
}

#profile a:hover {
  color: darkslategrey;
}

#academic-projects {
  background-color: #222831;
}

#academic-projects a {
  font-size: 2rem;
  color: grey;
  transition: 0.2s;
}

#academic-projects a:hover {
  color: darkslategrey;
}

#personal-projects {
  background-color: #393e46;
}

#personal-projects .link-row {
  margin: 20px auto 10px;
}

#personal-projects .link-row a {
  margin: 0 10px;
}

#personal-projects a {
  width: fit-content;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin: 10px auto;
  color: white;
  background-color: #00adb5;
  transition: 0.2s;
}

#personal-projects a:hover {
  background-color: #00cfd7;
}

#personal-projects p i {
  line-height: 1;
}

#personal-projects,
#academic-projects {
  padding: 100px;
}

#personal-projects .projects,
#academic-projects .projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

#personal-projects .project,
#academic-projects .project {
  background-color: #eeeeee;
  padding: 20px 30px;
  margin: 30px 10px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #00adb5;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

#footer .email {
  margin: 0 auto 40px;
  width: fit-content;
  border-radius: 25px;
  padding: 0.8rem 1.6rem;
  color: white;
  border: solid white;
  background-color: #009aa4;
}

#footer .email:hover {
  color: white;
  background-color: #00cfd7;
}

#footer a {
  margin: 10px 20px;
  color: whitesmoke;
}

#footer a:hover {
  color: lightgrey;
}

#footer p {
  color: white;
  font-size: 1rem;
  padding-top: 50px;
}
