// Global

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: 'Merriweather', serif;
  color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

h2 {
  font-size: 3rem;
  color: white;
  padding-bottom: 50px;
}

h3 {
  padding-bottom: 10px;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 2;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

// Top

.top-container {
  background-image: url('../images/topphoto.JPG');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10%;
  height: 100vh;

  a {
    margin: 10px 15px;
    color: white;
    &:hover {
      color: lightgrey;
    }
  }

  @media (max-width: 1250px) {
    height: 700px;
    padding: 15%;
    h1 {
      font-size: 3rem;
    }
  }
}

// Profile

.profile-container {
  background-color: #eeeeee;
  padding: 100px 0;

  h2 {
    color: black;
    padding: 20px;
  }

  p {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
  }

  a {
    color: darkgrey;
    &:hover {
      color: darkslategrey;
    }
  }
}

// Projects

.academic-projects-container {
  background-color: #222831;
}

.personal-projects-container {
  background-color: #393e46;
}

.personal-projects-container, .academic-projects-container {
  padding: 100px;

  a {
    margin: 10px;
  }

  .link-row {
    margin: 10px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .project {
    background-color: #eeeeee;
    padding: 20px 30px;
    margin: 30px 10px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
  }
}

// Footer

.footer-container {
  background-color: #00adb5;
  padding: 50px;

  a {
    margin: 10px 20px;
    color: whitesmoke;
    &:hover {
      color: lightgrey;
    }
  }

  p {
    color: white;
    font-size: 1rem;
    padding-top: 50px;
  }
}
